/**
 * Stylesheet
 *
 * @package         Tooltips
 * @version         3.7.4
 *
 * @author          Peter van Westen <peter@nonumber.nl>
 * @link            http://www.nonumber.nl
 * @copyright       Copyright © 2014 NoNumber All Rights Reserved
 * @license         http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 */
/*
 * You can override this stylesheet by creating your own in:
 * /templates/[YOUR TEMPLATE]/media/tooltips/css/style.min.css
 */
.nn_tooltips.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1010;
  display: none;
  max-width: 276px;
  padding: 1px;
  text-align: left;
  background-color: #ffffff;
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  white-space: normal;
}
.nn_tooltips.popover.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -moz-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.nn_tooltips.popover.fade.in {
  opacity: 1;
}
.nn_tooltips.popover.top {
  margin-bottom: 10px;
  margin-top: -6px;
}
.nn_tooltips.popover.right {
  margin-left: 10px;
}
.nn_tooltips.popover.bottom {
  margin-top: 13px;
}
.nn_tooltips.popover.left {
  margin-right: 10px;
  margin-left: -10px;
}
.nn_tooltips.popover .popover-title {
  margin: 0;
  padding: 8px 14px;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
.nn_tooltips.popover .popover-title:empty {
  display: none;
}
.nn_tooltips.popover .popover-content {
  padding: 9px 14px;
}
.nn_tooltips.popover .arrow,
.nn_tooltips.popover .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.nn_tooltips.popover .arrow {
  border-width: 11px;
}
.nn_tooltips.popover .arrow:after {
  border-width: 10px;
  content: "";
}
.nn_tooltips.popover.top .arrow {
  left: 50%;
  margin-left: -11px;
  border-bottom-width: 0;
  border-top-color: #999;
  border-top-color: rgba(0, 0, 0, 0.25);
  bottom: -11px;
}
.nn_tooltips.popover.top .arrow:after {
  bottom: 1px;
  margin-left: -10px;
  border-bottom-width: 0;
  border-top-color: #ffffff;
}
.nn_tooltips.popover.right .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-left-width: 0;
  border-right-color: #999;
  border-right-color: rgba(0, 0, 0, 0.25);
}
.nn_tooltips.popover.right .arrow:after {
  left: 1px;
  bottom: -10px;
  border-left-width: 0;
  border-right-color: #ffffff;
}
.nn_tooltips.popover.bottom .arrow {
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  top: -11px;
}
.nn_tooltips.popover.bottom .arrow:after {
  top: 1px;
  margin-left: -10px;
  border-top-width: 0;
  border-bottom-color: #ffffff;
}
.nn_tooltips.popover.left .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999;
  border-left-color: rgba(0, 0, 0, 0.25);
}
.nn_tooltips.popover.left .arrow:after {
  right: 1px;
  border-right-width: 0;
  border-left-color: #ffffff;
  bottom: -10px;
}
body > .nn_tooltips.popover .arrow:after {
  z-index: 0;
}
body > .nn_tooltips.popover.top .arrow:after,
body > .nn_tooltips.popover.bottom .arrow:after {
  left: 0;
  margin-left: -10px;
}
body > .nn_tooltips.popover.left .arrow:after {
  bottom: -10px;
}
body > .nn_tooltips.popover.right .arrow:after {
  bottom: -10px;
}
/* TOOLTIP LINK STYLES */
.nn_tooltips-link {
  cursor: pointer;
  display: inline-block;
}
.nn_tooltips-link.isimg {
  border-bottom: none;
}
.nn_tooltips-link.nostyle {
  border-bottom: none;
  cursor: inherit;
}
/* TOOLTIP POPOVER STYLES */
.nn_tooltips.popover {
  width: auto;
  max-width: 400px;
}
.nn_tooltips.popover.notitle .popover-title {
  display: none;
}
.nn_tooltips.popover.nocontent .popover-title {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border-bottom: none;
}
.nn_tooltips.popover.nocontent .popover-content {
  display: none;
}
.nn_tooltips.popover.isimg {
  text-indent: 0;
  max-width: none;
}
.nn_tooltips.popover.isimg .popover-content {
  padding: 4px;
}
.nn_tooltips.popover.blue h3.popover-title,
.nn_tooltips.popover.primary h3.popover-title {
  background-color: #dbecf9;
  color: #2384d3;
}
.nn_tooltips.popover.info h3.popover-title {
  background-color: #d9edf7;
  color: #3a87ad;
}
.nn_tooltips.popover.green h3.popover-title,
.nn_tooltips.popover.success h3.popover-title {
  background-color: #dff0d8;
  color: #468847;
}
.nn_tooltips.popover.orange h3.popover-title,
.nn_tooltips.popover.warning h3.popover-title {
  background-color: #fcf8e3;
  color: #c09853;
}
.nn_tooltips.popover.red h3.popover-title,
.nn_tooltips.popover.danger h3.popover-title,
.nn_tooltips.popover.error h3.popover-title {
  background-color: #f2dede;
  color: #b94a48;
}
.nn_tooltips.popover.grey h3.popover-title,
.nn_tooltips.popover.gray h3.popover-title {
  background-color: #eeeeee;
  color: #999999;
}
