/**
 * Stylesheet
 *
 * @package         Better Preview
 * @version         3.3.1
 *
 * @author          Peter van Westen <peter@nonumber.nl>
 * @link            http://www.nonumber.nl
 * @copyright       Copyright © 2014 NoNumber All Rights Reserved
 * @license         http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 */
.betterpreview-dropdown .dropdown-menu > li > .list-item {
  padding: 8px 20px;
  margin: 0;
  display: block;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #333333;
  white-space: nowrap;
}
.betterpreview-dropdown .dropdown-menu > li > a.list-item {
  color: #333333 !important;
}
.betterpreview-dropdown .dropdown-menu > li > a.list-item:hover {
  color: #ffffff !important;
}
.betterpreview-dropdown .dropdown-menu > li > a.list-item:hover .icon-url,
.betterpreview-dropdown .dropdown-menu > li > a.list-item:hover .icon-urlinfo {
  color: #ffffff;
}
.betterpreview-dropdown .dropdown-menu > li > a.list-item:hover .label {
  background-color: #ffffff;
  color: #0088cc;
  text-shadow: none;
}
.betterpreview-dropdown .dropdown-menu > li table {
  width: 100%;
  margin: 0;
  padding: 0;
}
.betterpreview-dropdown .dropdown-menu > li table td {
  margin: 0;
  padding: 0;
  vertical-align: middle;
}
.betterpreview-dropdown .dropdown-menu > li table td.nn_status_td_right {
  text-align: right;
}
.betterpreview-dropdown .dropdown-menu > li table td.nn_status_td_right span {
  margin-left: 5px;
}
.betterpreview-dropdown .dropdown-menu > li.divider {
  clear: both;
  margin: 2px 0 1px;
}
.betterpreview-alert {
  position: fixed;
  top: 10%;
}
.icon-url {
  color: #51a351;
}
.icon-url:before {
  content: "\e024";
}
.icon-urlinfo {
  margin-top: 2px;
  color: #2f96b4;
}
.icon-urlinfo:before {
  content: "\45";
}
#betterpreview_urlinfo .icon-url {
  vertical-align: middle;
}
@media (max-width: 738px) {
  .betterpreview-dropdown .icon-arrow-down-3 {
    display: none;
  }
}
/* Make status position show on mobile */
@media (max-width: 767px) {
  #status.hidden-phone {
    display: block !important;
    text-align: center;
  }
  #status.hidden-phone .pull-right {
    float: none;
    display: block;
  }
}
