/**
 * Admin CSS
 *
 * @package         ReReplacer
 * @version         5.11.3
 *
 * @author          Peter van Westen <peter@nonumber.nl>
 * @link            http://www.nonumber.nl
 * @copyright       Copyright © 2014 NoNumber All Rights Reserved
 * @license         http://www.gnu.org/licenses/gpl-2.0.html GNU/GPL
 */

@media (max-width: 767px) {
	#toolbar-edit,
	#toolbar-copy,
	#toolbar-publish,
	#toolbar-unpublish,
	#toolbar-trash,
	#toolbar-box-remove {
		display: none;
	}
}
